*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;

}



.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  height: 10%;


}

.left-bar {
  position: absolute;
  width: 100%;
  float: left;
  text-align: left;
  top: -15px;
  margin-left: -15px;
 
}

.left-bar h4{

   display: inline;
   position: relative;
   width: 100%;
   text-align: left;
   right: -20px;
   top: 50%;
   color: grey;
   font-weight: bold;
   overflow: hidden;
}


.styling-left{

	display: inline;
	width: 100px;
	height: 100px;
	margin: 15px;
	color: grey;
	overflow: hidden;
	position: relative;
	
}

.styling-left i{

	line-height: 80px;
	font-size: 28px;
	
}

.styling-left i:hover{
	
	transform: scale(1.3);
	color: #e67e22;

}

.left h4{

   display: inline;
   position: absolute;
   float: left;
   width: 100%;
   text-align: left;
   top: 10px;
   font-weight: bold;
   overflow: hidden;
}

.side-bar h4{

   display: inline;
   position: relative;
   width: 100%;
   text-align: center;
   left: -20px;
   top: 50%;
   color: grey;
   font-weight: bold;
   overflow: hidden;
}


.side-bar {
  position: absolute;
  transform: translateX(40%);
  width: 100%;
  float: right;
  text-align: center;
  top: -15px;
  margin-right: -15px;
  


}

.styling{

	display: inline;
	width: 100px;
	height: 100px;
	margin: 15px;
	color: grey;
	overflow: hidden;
	position: relative;
	


}

.styling > i{

	line-height: 80px;
	font-size: 28px;
	
}

.styling i:hover{
	transform: scale(1.3);
	color: #e67e22;

}





.main-bar{

  position: sticky;
  top: 0;
  
}

.hero{

	position: absolute;
	width: 1140px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}

h1{
	color: white;
}

header{

	margin-top: 10px;
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.6)),url("../images/login.jpg");
	height: 110vh;
	background-size: cover;
	background-position: center; 
	background-attachment: fixed;

}

.row{
	
	margin: 0 auto;
}


.main-nav{
	float: right;
	list-style: none;
	margin-top: 20px;


}

.main-nav li{

	display: inline-block;
	margin: 20px;

} 

.main-nav li a{

    color:white;
	text-decoration: none;
	font-weight: bold;

}

.main-nav li a:hover{

	color: #e67e22;
	border-bottom: 2px solid #e67e22;     
	padding: 15px;
	transition: all 0.5s ease-in;
}

.main-nav li a:active{

	color: #e67e22;
	border-bottom: 2px solid #e67e22;     
	padding: 15px;
	transition: all 0.5s ease-in;

}


.form{

	text-align: center;
	margin: 50px 400px;

}

.registartion{

	width: 90%;
	background-color: #051019;
	opacity: 0.8;
	padding: 50px 0px;

}

.registartion input{

    display: block; 
    width: 250px;
	padding: 10px;
	border-radius: 5px;
	margin: 15px auto;


}

.btn{

	border:1px solid grey;
	color: white;
	background-color: grey;
	text-decoration: none;
	border-radius: 10px;
	margin-right: 15px;
	text-align: center;
	width: 20%;
	height: 20%;


}
.btn:hover{

	background-color: #e67e22;
	color: white;
	transform: scale(1.05);
	transition: all 0.2s ease-in;

}